<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.hdu.mapper.JobMsgMapper" >
  <resultMap id="BaseResultMap" type="org.hdu.model.JobMsg" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="job_id" property="jobId" jdbcType="INTEGER" />
    <result column="crawler_count" property="crawlerCount" jdbcType="INTEGER" />
    <result column="inc_crawler_count" property="incCrawlerCount" jdbcType="INTEGER" />
    <result column="save_count" property="saveCount" jdbcType="INTEGER" />
    <result column="inc_save_count" property="incSaveCount" jdbcType="INTEGER" />
    <result column="cpu" property="cpu" jdbcType="VARCHAR" />
    <result column="ram" property="ram" jdbcType="VARCHAR" />
    <result column="monitor_time" property="monitorTime" jdbcType="TIMESTAMP" />
    <result column="daily_id" property="dailyId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, job_id, crawler_count, inc_crawler_count, save_count, inc_save_count, cpu, ram, 
    monitor_time, daily_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from job_msg
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from job_msg
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.hdu.model.JobMsg" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into job_msg (job_id, crawler_count, inc_crawler_count, 
      save_count, inc_save_count, cpu, 
      ram, monitor_time, daily_id
      )
    values (#{jobId,jdbcType=INTEGER}, #{crawlerCount,jdbcType=INTEGER}, #{incCrawlerCount,jdbcType=INTEGER}, 
      #{saveCount,jdbcType=INTEGER}, #{incSaveCount,jdbcType=INTEGER}, #{cpu,jdbcType=VARCHAR}, 
      #{ram,jdbcType=VARCHAR}, #{monitorTime,jdbcType=TIMESTAMP}, #{dailyId,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="org.hdu.model.JobMsg" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into job_msg
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        job_id,
      </if>
      <if test="crawlerCount != null" >
        crawler_count,
      </if>
      <if test="incCrawlerCount != null" >
        inc_crawler_count,
      </if>
      <if test="saveCount != null" >
        save_count,
      </if>
      <if test="incSaveCount != null" >
        inc_save_count,
      </if>
      <if test="cpu != null" >
        cpu,
      </if>
      <if test="ram != null" >
        ram,
      </if>
      <if test="monitorTime != null" >
        monitor_time,
      </if>
      <if test="dailyId != null" >
        daily_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="jobId != null" >
        #{jobId,jdbcType=INTEGER},
      </if>
      <if test="crawlerCount != null" >
        #{crawlerCount,jdbcType=INTEGER},
      </if>
      <if test="incCrawlerCount != null" >
        #{incCrawlerCount,jdbcType=INTEGER},
      </if>
      <if test="saveCount != null" >
        #{saveCount,jdbcType=INTEGER},
      </if>
      <if test="incSaveCount != null" >
        #{incSaveCount,jdbcType=INTEGER},
      </if>
      <if test="cpu != null" >
        #{cpu,jdbcType=VARCHAR},
      </if>
      <if test="ram != null" >
        #{ram,jdbcType=VARCHAR},
      </if>
      <if test="monitorTime != null" >
        #{monitorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dailyId != null" >
        #{dailyId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.hdu.model.JobMsg" >
    update job_msg
    <set >
      <if test="jobId != null" >
        job_id = #{jobId,jdbcType=INTEGER},
      </if>
      <if test="crawlerCount != null" >
        crawler_count = #{crawlerCount,jdbcType=INTEGER},
      </if>
      <if test="incCrawlerCount != null" >
        inc_crawler_count = #{incCrawlerCount,jdbcType=INTEGER},
      </if>
      <if test="saveCount != null" >
        save_count = #{saveCount,jdbcType=INTEGER},
      </if>
      <if test="incSaveCount != null" >
        inc_save_count = #{incSaveCount,jdbcType=INTEGER},
      </if>
      <if test="cpu != null" >
        cpu = #{cpu,jdbcType=VARCHAR},
      </if>
      <if test="ram != null" >
        ram = #{ram,jdbcType=VARCHAR},
      </if>
      <if test="monitorTime != null" >
        monitor_time = #{monitorTime,jdbcType=TIMESTAMP},
      </if>
      <if test="dailyId != null" >
        daily_id = #{dailyId,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.hdu.model.JobMsg" >
    update job_msg
    set job_id = #{jobId,jdbcType=INTEGER},
      crawler_count = #{crawlerCount,jdbcType=INTEGER},
      inc_crawler_count = #{incCrawlerCount,jdbcType=INTEGER},
      save_count = #{saveCount,jdbcType=INTEGER},
      inc_save_count = #{incSaveCount,jdbcType=INTEGER},
      cpu = #{cpu,jdbcType=VARCHAR},
      ram = #{ram,jdbcType=VARCHAR},
      monitor_time = #{monitorTime,jdbcType=TIMESTAMP},
      daily_id = #{dailyId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>